# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Poetry
poetry.lock

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log
